<!DOCTYPE html>
<%- include ../tema/header.ejs %>
<body>
	<ul>
		<li>
			<img src="" alt="Logo Cliente">
			<h3>Nome do cliente</h3>
			<h3>CPF/CNPJ</h3>
			<h3>Chave</h3>
		</li>
	</ul>
</body>
</html>